<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${hashtag.name}">Current Hashtag</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>
<ul>

    <li th:each="post:${hashtag.posts}"> <a  th:text="${post.title}" th:href = "'/posts/'+${post.id}"> </a></li>
</ul>
</body>
</html>